# Project {{.ProjectName}}

Description goes here.

## Build the project

### Compile

Binaries will be placed inside the `bin` directory. To build the project just run:
```bash
make
```

### Build & run

To compile and run the application:
```bash
make run
```

### Clean `bin` directory

Clean the `bin` directory using the following command:
```bash
make clean
```
